{{ 'component-slickshow.css' | asset_url | stylesheet_tag }}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div id="Slick-{{ section.id }}"></div>
</div>
{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.slickshow.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slickshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slickshow.blocks.slide.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slickshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
