.button-flat-empty {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    background: #707070;
    color: #707070;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    background: none;
    border: unset;
    height: 100%;
    cursor: pointer;
}

.button-flat-empty:hover {
    background: #707070;
    color: white;
}

.product-card-adv {
    background: white;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 0 8px #00000050;
    display: flex;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-card-adv .product-card-adv-image {
    width: calc(100% - 16px);
    box-sizing: unset;
    margin: 8px auto;
    overflow: hidden;
}

.product-card-adv .product-card-adv-image img {
    width: 100%;
    object-fit: contain;
    object-position: top;
    overflow: hidden;
    height: auto;
    box-shadow: 0 1px 8px #000;
    margin-bottom: 8px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    max-height: 320px;
}

.product-card-adv .product-card-adv-info {
    padding: 0px 8px;
}

.product-card-adv .product-card-adv-info .product-card-adv-vendor {
    margin-bottom: 2px;
}


.product-card-adv .product-card-adv-info .product-card-adv-title-container .product-card-adv-title {
    margin: 0;
    display: flex;
}

.product-card-adv .product-card-adv-info .product-card-adv-title-container .product-card-adv-title svg {
    width: auto;
    object-fit: contain;
    overflow: hidden;
    height: 36px;
    object-position: center;
}

.product-card-adv .product-card-adv-info .product-card-adv-title-container .product-card-adv-title svg path {
    stroke-width: .5px;
    stroke: black;
}

.product-card-adv .product-card-adv-info .product-card-adv-footer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 8px 0;
    gap: 4px;
}

.product-card-adv .product-card-adv-info .product-card-adv-footer>div {
    position: relative;
    min-height: 100%;
}


.product-card-adv .product-card-adv-info .product-card-adv-footer .product-card-adv-price {
    flex: 2;
}

.product-card-adv .product-card-adv-info .product-card-adv-footer .product-card-adv-quick-add {
    flex: 1;
}

.product-card-adv .product-card-adv-info .product-card-adv-footer .product-card-adv-quick-add:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    width: 1px;
    background: #8ea5bd;
}

.product-card-adv .product-card-adv-info .product-card-adv-footer .product-card-adv-quick-add .quick-add {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    position: relative;
}

.product-card-adv .product-card-adv-info .product-card-adv-footer .product-card-adv-quick-add .quick-add modal-opener {
    flex: 1;
}

@media screen and (max-width: 749px) {
    .featured-slick-slider:not(.slick-initialized) .slick-item {
        padding: 16px;
    }
}