.product-card-adv {
    background: white;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 0 8px #00000050;
    display: flex;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-card-adv .product-card-adv-image {
    width: calc(100% - 16px);
    margin-top: 16px;
    box-sizing: unset;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 8px;
}

.product-card-adv .product-card-adv-image img {
    width: 100%;
    object-fit: contain;
    object-position: top;
    overflow: hidden;
    height: auto;
}

.product-card-adv .product-card-adv-info {
    padding: 0px 8px;
}

.product-card-adv .product-card-adv-title-container {
    text-align: left;
}

.product-card-adv .product-card-adv-title-container .product-card-adv-title {
    margin: 0;
}

.product-card-adv .product-card-adv-title-container .product-card-adv-title svg {
    width: auto;
    object-fit: contain;
    overflow: hidden;
    height: 36px;
    object-position: center;
}

.product-card-adv .product-card-adv-title-container .product-card-adv-title svg path {}