.product-card-adv {
    background: red;
    position: relative;
    overflow: hidden;
    display: flex;
}

.product-card-adv .product-card-adv-image {}

.product-card-adv .product-card-adv-image img {
    width: 100%;
    object-fit: contain;
    object-position: top;
    overflow: hidden;
    height: auto;
}

.product-card-adv .product-card-adv-title {
    margin: 0;
}

.product-card-adv .product-card-adv-title svg {
    width: auto;
    object-fit: contain;
    overflow: hidden;
    height: 36px;
    object-position: center;
}