 .product-title {
   font-size: 20px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
 }

 .product-card {
   max-width: 240px;
 }

 .product-card a {
   text-decoration: unset;
 }


 .product-card .product-title {
   margin: 0;
 }

 .product-card .product-vendor {
   margin: 0;
   text-align: center;
 }

 .product-card .product-picture {

   width: 100%;
 }

 .product-card.product-media-square .product-picture {
   height: 240px;
   width: 240px;
 }

 .product-card .product-picture img {
   position: relative;
   overflow: hidden;
   border-radius: 16px;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .product-card .product-picture img:nth-child(2) {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   opacity: 0;
   height: 100%;
   width: 100%;
   transition: all 0.3s ease-in-out;
 }

 .product-card a:hover .product-picture img:nth-child(2) {
   opacity: 1;
 }

 .product-card.product-card-hover:hover .product-content {
   box-shadow: 1px 1px 16px #00000080;
   margin-bottom: 8px;
   transform: translateY(-8px);
 }


 @media screen and (max-width: 540px) {
   .product-title {
     font-size: 18px;
   }

   .product-card .product-picture {
     width: 180px;
   }

 }


 .product-card.title-option-off .product-title {
   display: none;
 }

 .product-card.title-option-top .product-title {
   position: absolute;
   margin-top: 0px;
   margin-bottom: 0px;
   text-transform: uppercase;
   font-weight: 700;
   text-decoration: unset;
   top: 0;
   left: 0;
   background: #680870;
   color: white;
   padding: 8px;
   border-bottom-right-radius: 16px;
   border-top-left-radius: 16px;
 }

 .product-card .product-content {
   border-radius: 16px;
   overflow: hidden;
   position: relative;
   display: flex;
   transition: all 0.3s ease-in-out;
   margin-bottom: 4px;
 }


 .product-card.title-option-top.savings-option-top .product-content .product-card-savings {
   top: 47px;
   border-top-left-radius: 0;
   border-bottom-right-radius: 0;
 }

 .product-card.savings-option-bottom .product-content .product-card-savings {
   position: relative;
   font-size: 18px;
 }

 .product-card.savings-option-off .product-content .product-card-savings {
   display: none;
 }

 .product-card.savings-option-bottom .product-content>.product-card-savings {
   display: none;
 }


 .product-card .product-content .product-card-savings {
   position: absolute;
   top: 0;
   left: 0;
   color: #fff;
   padding: 4px 8px;
   font-weight: 600;
   font-size: 24px;
   border-bottom-right-radius: 16px;
   border-top-left-radius: 16px;
   background-color: #da2828;
   line-height: 100%;
   z-index: 1;
 }

 .product-card .product-content .product-price {
   position: absolute;
   bottom: 0;
   right: 0;
   text-align: center;
   font-size: 24px;
   font-weight: 700;
   margin-top: 8px;
   margin-bottom: 0px;
   z-index: 1;
 }